.jumbotron{
    background-color: #1c2228;
    margin:0;
}
.navbar{
    background-color: #1c2228;
    color:#1c2228;
}
.navbar-center {
    transform: translatex(50%);
    font-size: 100%;
  }
  .navbar-nav>li:hover{
    background-color: pink;
    border-radius: 10px;
    }


footer {
    color: white;
    height: auto !important;
}
.bg-footer {
    background-color: #1c2228;
}

h1 {
    color: white;
}

.acepted {
    color: white;
    background-color: purple;
}

p {
    color: white;
    text-align: center;
}

.imagen-fondo {
    background-image: url("/sociallove/assets/fotosInterfaces/timido.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
}

.inscripcion {
    float: right;
}

.flickr {
    background: #f40083;
    color: white;
}

.g {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 45px;
    padding: 25px;
}
.prueba{
    background-color: #1c2228 ;
}